{% extends "base.html" %}
{% block content %}
<h1>Politique</h1>
<div class="card">
  <h2>Confidentialité & Sécurité</h2>
  <p>StimLink adhère à une politique de confidentialité et de transparence. Nous protégeons vos données et traitons chaque demande de crédit avec responsabilité.</p>
  <p>Nous protégeons vos données et vos finances. Utilisez des appareils de confiance, ne communiquez pas vos identifiants, et signalez toute activité suspecte.</p>
  <p>Vos transactions sont tracées et historisées pour transparence.</p>
  <p>Respectez la politique d’usage de la plateforme. En cas de perte d’accès, utilisez la procédure <a href="login">mot de passe oublié</a></p>

  <p>Chez StimLink, la sécurité et la confidentialité sont nos priorités. Nous garantissons la protection absolue
  des biens de nos clients ainsi que la confidentialité de toutes les données personnelles collectées. Nous nous
  engageons à accompagner chacun dans la construction d’un avenir économique stable et prospère. Cependant,
  cet engagement doit être réciproque : nous attendons de chaque client qu’il respecte ses engagements, honore ses
  échéances et adopte une conduite responsable. Toute activité contraire à notre politique ne pourra engager la
  responsabilité de StimLink. Nous croyons en la transparence, la loyauté et le respect mutuel comme fondements
  d’une collaboration durable et fructueuse.</p>

</div>
{% endblock %}
